body {
    font-family: Arial;
    padding: 4px;
    background: #f1f1f1;
  }
.nav-bar{
    overflow: hidden;
    background-color:#001f3f;
    border: 1px solid #001f3f;
    border-radius: 4px;
    height:40px;
  }
  /*.logoutbutton{
    float:right;
  }*/
p{
    text-align: center;
    color: white;
    float: right;
    display:block;
}
 input[type=button]{
    float: right;
    height:40px;
    display: block;
    color: white;
    padding:10px 16px; 
    background-color:#001f3f;
    border: 1px solid rgb(252, 252, 255) ;
    border-radius: 4px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}
 input[type=button]:hover {
    background-color:#FF851B;
}
.nav-menu {
    list-style-type: none;
    margin: 0;
    padding: 10px;
    width: 200px;
    background-color:white;
    border: 1px solid white;
    border-radius: 4px;
    position: fixed;
    height: 87%;
    overflow: auto;
}.nav-menu a {
    display: block;
    color:#001f3f;
    border: 1px solid white;
    border-radius: 4px;
    padding: 10px 16px;
    text-decoration: none;
}
.nav-menu i{
  padding:2px 18px;
}
.nav-menu a:hover {
    background-color:#FF851B ;
    color: white;
}
  
@media screen and (max-width: 400px) {
   
    .nav-bar a {
        float: none;
        width: 100%;
      }
     
    .nav-menu a {
        float: none;
      }
    
    }
