*{
    box-sizing: border-box;
}
body{
    font-family: 'Times New Roman';
    background-color: #F5F5F5;
}
h1{
  text-align:center;
}
.form{
    margin-right: 100px;
    margin-left: 70px;
}
.loginpage{
    width: 600px;
    overflow: hidden;
    margin: auto;
    margin-top: 50px;
    margin-right: 100px;
    margin-left: 370px;
    padding: 20px;
    background-color: white;
    border:2px solid lightgray;
    border-radius: 5px;
    box-shadow: 7px 7px 10px 10px lightgray;
}
.loginpage input[type=text],input[type=password]{
    width: 400px;
    height: 40px;
    margin-bottom: 10px;
    padding:5px;
    border:1px solid lightgray;
    border-radius: 5px;
}
.loginpage input[type=radio]{
    transform: scale(1.3);
    margin: 0 10px 0 10px;
}
.loginpage .button-login{
    margin-left: 230px;
    width: 100px;
    border:1px solid #FF851B;
    background-color:#FF851B;
    height: 30px;
    padding:5px;
    color: white;
    border-radius: 3px;
    font-size: 18px;
}
.button-login:hover{
  background-color: white;
  border:1px solid lightgray;
    color:#FF851B;
}
#createaccount{
  text-align:center;
}
#createaccount a{
  margin-left:10px;
}
p{
  text-align:center;
  font-size: 15px;
}
.icon-bar{
    list-style-type: none;
    margin-left: 210px;
    margin-right:30px;
    padding: 0;
    background-color:blue;
}
 .icon-bar ul  {
    list-style-type: none;
    bottom: 2px;
    position:fixed;
    overflow: auto;
  }
  .icon-bar li  {
    float:left;
  }  
  .icon-bar li a {
    display: block;
    color:#3B5998;
    text-align: center;
    padding: 10px 10px;
    text-decoration: none;
  }
  .icon-bar li a:hover:not(.active) {
    background-color: #111;
  }
  .active {
    background-color: #4CAF50;
  }
#logout{
  font-family:sans-serif;
  display: block;
  width: 300px;
  height: 40px;
  padding: 10px;
  margin: auto;
  border: 2px solid rgb(240, 240, 240);
  margin-top: 20px;
  margin-left: 130px;
  margin-right: 50px;
  border-radius: 4px;
  background-color:rgb(240, 240, 240);
  text-align: center;
}
#signout{
  font-family:sans-serif;
  display: block;
  width: 300px;
  height: 40px;
  padding: 10px;
  margin: auto;
  border: 2px solid rgb(240, 240, 240);
  margin-top: 20px;
  margin-left: 130px;
  margin-right: 50px;
  border-radius: 4px;
  background-color:rgb(240, 240, 240);
  text-align: center;
}
#message{
  font-family:sans-serif;
  display: block;
  margin-top: 20px;
  text-align: center; 
}