*{
    box-sizing: border-box;
}
body{
    font-family: 'Times New Roman';
    background-color:#F5F5F5;
}
h1{
  text-align:center;
}
.form{
    margin-right: 100px;
    margin-left: 70px;
}
.signuppage{
    width: 600px;
    overflow: hidden;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 20px;
    padding: 20px;
    background-color:white;
    border:2px solid lightgray;
    border-radius: 5px;
    box-shadow: 3px 3px 2px 2px lightgray;
}
.signuppage input[type=text],input[type=password]{
    width: 400px;
    height: 40px;
    margin-bottom: 10px;
    padding: 5px;
    border:1px solid lightgray;
    border-radius: 5px;
}
.signuppage input[type=email]{
    width: 400px;
    height: 40px;
    margin-bottom: 5px;
    padding: 5px;
    border:1px solid lightgrey;
    border-radius: 5px;
}
.signuppage input[type=radio]{
    transform: scale(1.3);
    margin: 0 10px 0 10px;
}

 .signup-button{
    margin-left: 230px;
    width: 100px;
    height: 30px;
    padding: 5px;
    border:1px solid #FF851B;
    background-color:#FF851B;
    color: white;
    border-radius: 3px;
    font-size: 18px;
 }
.signup-button:hover{
  background-color: white;
  border:1px solid lightgray;
    color:#FF851B;
}
.icon-bar{
    list-style-type: none;
    margin-left: 190px;
    padding: 0;

}
 .icon-bar ul  {
    list-style-type: none;
    bottom: 2px;
    position:fixed;
    overflow: auto;
  }
  .icon-bar li  {
    float:left;
  }  
  .icon-bar li a {
    display: block;
    color:#3B5998;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .icon-bar li a:hover:not(.active) {
    background-color: #111;
  }
  .active {
    background-color: #4CAF50;
  }