*{
    box-sizing: border-box;
}
.header{
    background-color: lightgray;
    padding: 20px;
    text-align: center;
}
.navtop{
    overflow: hidden;
    background-color: lightcoral;
}
.navtop .a{
    float: left;
    padding: 14px 16px;
    text-align: center;
    color: rgb(37, 32, 25);
    display: block;
}
.topnav .hover {
    background-color: rgb(165, 23, 82);
    color: lightcoral;
}
.column{
    float: left;
    padding: 10px;
}
.column.side {
width: 25%
}
.column.middle{
width: 50%
}
.row:after{
    content: "";
    display: table;
    clear: both;
}
@media screen and (width:600px){
    .column.side, .column.middle{
       width:100%
    }
}