.body{
    font-family: sans-serif;
    background: #EFF1F7;
}
.content{
    grid-area: content;
}
.sidebar{
    grid-area: sidebar;
    background: linear-gradient(to-right,
    rgba(249,107,142,1),
    rgba(218,103,230,1),
    rgba(130,125,253,1));
    justify-content: center;
}
.footer{
    grid-area: footer;
    background: white;
}
.container{
    font-size: 1.5em;
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-areas: 
    "sidebar"
    "content"
    "footer";
    grid-template-columns: 1fr;
    grid-template-rows: 130px 800px 250px;
}
.content,
.sidebar,
.footer{
    padding: 1em;
}
nav ul{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    text-align: center;
}
nav li{
    list-style: none;
    padding: 1em 0;
}
nav li a{
    color:white;
    font-weight: 700;
    opacity: 0.6;
    text-decoration: none;
    transition: 0.3s;
}
.index{
    max-width: 960px;
    margin:0 auto;
    text-align: center;
}
.index img{
    width: 200px;
}
.index h1{
    font-size: 2em;
    font-weight: 1.8em;
    color: #98a0ad;
}
.action-btn{
    display: inline-block;
    text-decoration: none;
    color: white;
    font-weight: 700;
    background: #867bfb;
    padding: 0.5em 2em;
    border-radius: 40px;
    margin: 1em 0;
    transition: 0.3s;
}
.action-btn:hover { 
    box-shadow: 0 10px 50px rgba(188,197,216,1);
}
footer ul{
    max-width: 640px;
    margin: 2em auto;
    padding: 0;
    text-align: center;
    display: flex;
    flex-direction: row;
}
footer ul li{
    list-style: none;
    align-self: flex-end;
}
svg{
    width:40%;
}
footer p{
    font-size: 0.8em;
}
