body{
    background-color:lightgrey;
    border:2px solid cadetblue;
    padding: 200px;
    border-left-width: 30px;
    border-right-width: 30px;
    border-top-width: 70px;
    border-bottom-width: 70px;
    text-align: center;
}
a:link, a:visited {
    background-color: #3490ce;
    color: rgb(172, 206, 206);
    padding: 14px 25px;
    text-align: center-right;
    text-decoration: none;
    display: inline-block;
  }
  a:hover, a:active {
    background-color: rgb(12, 34, 105);
  }