*{
    box-sizing: border-box;
}
body {
    margin:0;
}
.header {
    background-color:rgb(211, 105, 105);
    padding: 20px;
    text-align: center;
}
.topnav {
    overflow: hidden;
    background-color: lightcoral;
}
.topnav a {
    float: left;
    padding: 14px 16px;
    text-align: center;
    color: rgb(37, 32, 25);
    display: block;
}
.navtop a:hover {
    background-color: rgb(165, 23, 82);
    color: lightcoral;
}
.column {
    float: left;
    padding: 10px;
}
.column.side {
width: 25%;
}
.column.middle {
width: 50%;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}
@media screen and (width:600px) {
    .column.side, .column.middle{
       width:100%;
    }
}