* {
    box-sizing: border-box;
}
body {
    font-family: Times New Roman;
    padding: 40px;
    background-color: #5d001e;
    }
.header {
    padding: 30px;
    text-align: center;
    background: #e3e2df;
    border-radius: 15px;
    border: 2px solid #ee4c7c;
}
.para{
    text-align: center;
    font-size: 20px;
}
.image{
    background-color: #e3e2df;
    padding: 20px;
    margin-top: 20px;
    border: 2px solid #ee4c7c;
    border-radius: 10px;
}
.header h1 {
    font-size: 50px;
    font-family: Lucida Sans;
    color: #9a1750;
}
.topnav{
    overflow: hidden;
    background-color: #9a1750;
    border: 2px solid #ee4c7c;
    border-radius: 10px;
}
.topnav a {
    float: left;
    display: block;
    color: #e3afbc;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border-color: 2px solid #ee4c7c;
    border-radius: 10px;
}
.topnav a:hover {
    background-color: #ee4c7c;
    color: rgb(0, 0, 0);
}
.left column {
    float: left;
    width: 25%;
    border: 2px solid #ee4c7c;
    border-radius: 10px;
}
.right column {
    float: right;
    width: 50%;
    background-color: #e3e2df;
    padding-left: 20px; 
    border: 2px solid #ee4c7c;
    border-radius: 10px;

}
.fakeimg {
    background-color: #e3e2df;
    width: 100%;
    padding: 10px;
    border: 2px solid #ee4c7c;
}
.card {
    background-color: #e3e2df;
    padding: 20px;
    margin-top: 20px;
    border: 2px solid #ee4c7c;
    border-radius: 10px;
}
.row::after {
    content: "";
    clear: both;
    display: table;
}
.clearfix{
    content: "";
    clear:both;
    display: table;
}
.footer {
    padding: 20px;
    text-align: center;
    background: #ddd;
    margin-top: 20px;
    border: 2px solid #ee4c7c;
    border-radius: 10px;
}
@media screen and (max-width: 800px) {
.leftcolumn, .rightcolumn{
    width:100%;
    padding: 0%;
    }
}
@media screen and (max-width: 400px){
    .topnav a {
        float:noneS;
        width: 100%;
    }
}